*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100dvw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #aeecf6;
    padding: 20px;
}

#main {
    width: 500px;
    height: 500px;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

#first-section {
    display: flex;
}

#first-section h1 {
    font-size: 48px;
    font-weight: 600;
    line-height: 56px;
}

#first-section span {
    color: #FFB431;
}

#palpite {
    width: 50px;
    height: 50px;
    align-items: center;
    text-align: center;
    outline: none;
    border-radius: 5px;
    border-color: #FFB431;
    font-size: 23px;
    padding: 1px;
}

button {
    width: 150px;
    height: 50px;
    margin-top: 20px;
    border-radius: 5px;
    border: none;
    background-color: #DE5540;
    color: white;
    cursor: pointer;
    font-size: 15px;
}

#results {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-top: 10px;
    font-size: 25px;
}

#again {
    display: none;
}

#again.reset {
    display: block;
}

#palpitesText {
    font-size: 30px;
    color: #DE5540;
}

#winner {
    display: none;
}

#winner.sucess {
    display: block;
    color: #FFB431;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width:440px) {

    body {
        width: 100dvw;
        overflow-y: none;
    }

    #main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
   #first-section {
        width: 100%;
   }

   #first-section h1 {
        width: 50%;
        margin-left: 90px;
        font-size: 28px;
        line-height: 60px;
   }

   #img_bia {
        width: 50%;
        margin-right: 54px;
   }

   #formulario {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 20px;
   }

   #results {
       margin-left: 30px;
   }
}